.body-cursor-red {
    cursor: url(cursor-red.svg), crosshair;
}

.body-cursor-yellow {
    cursor: url(cursor-yellow.svg), crosshair;
}

html, body, .column, .square, .checker_empty, .checker_red, .checker_yellow {
    width: 100%;
    height: 100%;
}

* {
    border-width: 0em;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
    /* http://angrytools.com/gradient/ */
    background: linear-gradient(45deg,
        rgba(153,218,255,1) 0%,
        rgba(0,128,128,1) 95%); /* w3c */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* TODO add animation as explained in w3 schools and rgba */
    filter: grayscale(0%);
    transition: all 0.5s linear;
}

.column:hover {
    filter: grayscale(80%);
}

.square {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle closest-side,
                                                    transparent 75%,
                                                    rgba(25,121,255, 0.8) 100%);
    z-index: 100;
}

.checker {
    position: absolute;
    width: 100%;
    /* `transform:translateY' and `height' are calculated in javascript */
}

.checker_empty {
    background-color: transparant;
}

.checker_red {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient */
    background: radial-gradient(circle closest-side,
                                                    brown 75%,
                                                    transparent 95%);
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in;

    z-index: 20
}

.checker_yellow {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient */
    background: radial-gradient(circle closest-side,
                                                    rgba(255, 255, 0, 1) 75%,
                                                    transparent 95%);

    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;

    z-index: 20
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */
@keyframes slidein {
    /* TODO see:
    https://www.w3.org/blog/CSS/2017/12/20/how-should-we-resolve-percentage-margins-and-padding-on-grid-and-flex-items/ */
    from {
        margin-top:-126%
        /* width:0% */
    }

    to {
        margin-top:0%;
        /* width:100%; */
    }
}
