.cursor-gamer_red {
    cursor: url(cursor-red.svg), crosshair;
}

.cursor-gamer_yellow {
    cursor: url(cursor-yellow.svg), crosshair;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

html, body, .column, .square, .checker_empty, .checker_red, .checker_yellow {
    width: 100%;
    height: 100%;
}

* {
    border-width: 0em;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
    /* http://angrytools.com/gradient/ */
    background: linear-gradient(45deg,
        rgba(153,218,255,1) 0%,
        rgba(0,128,128,1) 95%); /* w3c */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* I don't know why when we remove rule `greyscale()` in  */
    /* `./app/connect-four-game.css` it doesn't work. */
    filter: grayscale(0%);
    border: 4px solid #26759E;
    box-shadow: #878787 0px 2px 2px;
    border-radius: 23px;
    /* background-color: #3093C7; */
    background-image: linear-gradient(to bottom, #3093C7, #1C5A85);
}

.column:hover {
    /* I don't know why when we remove rule `greyscale()` in  */
    /* `./app/connect-four-game.css` it doesn't work. */
    filter: grayscale(0%);
    /* background-color: #26759E; */
    background-image: linear-gradient(to bottom, #26759E, #133D5B);
}

.square {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle closest-side,
                                                    transparent 75%,
                                                    rgba(25,121,255, 0.8) 100%);
    z-index: 100;
}

.checker {
    position: absolute;
    width: 100%;
    /* `transform:translateY' and `height' are calculated in javascript */
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    z-index: 20
}

.checker_empty {
    background-color: transparent;
}

.checker_red {
    background-image: radial-gradient(circle closest-side,
            rgb(217, 41, 0) 75%,
            transparent 95%);
}

.checker_yellow {
    background-image: radial-gradient(circle closest-side,
            rgb(241, 204, 0) 75%,
            transparent 95%);
}

/* .checker_computed { */
/*     Generated in pure CSSOM. See JavaScript code, and not the browser */
/*     web inspector. */
/* } */

