/* =============================================================================
  *         AUTHOR: JulioJu
  *         GITHUB: https://github.com/JulioJu
  *        LICENSE: MIT (https://opensource.org/licenses/MIT)
  *        CREATED: October 2018
  *
  *          USAGE:
  *
  *    DESCRIPTION:
  * ============================================================================
  */

@import './hide-show.css';

html, body {
  min-height: 100vh;
  min-width: 100vw;
}

* {
    border-width: 0em;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* http://angrytools.com/gradient/ */
    background-image: linear-gradient(45deg,
        rgba(153,218,255,1) 0%,
        rgba(0,128,128,1) 95%); /* w3c */
}

form {
    text-align: center;
}

form > * {
    overflow: hidden;
}

hr.artificial-intelligence-separator {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 0.5em;
}

hr.fieldset-separator {
    /* https://stackoverflow.com/questions/3906640/css-margins-overlap-problem */
    display: block;
    margin: 0;
    border-width: 0em;
}

fieldset {
    text-align: left;
    margin: 2em;
    border: 0.25em solid #26759E;
    box-shadow: #878787 0px 2px 2px;
    border-radius: 23px;
    background-image: linear-gradient(to bottom, #3093C7, #1C5A85);
    padding: 2em;

}

fieldset:hover {
    background-image: linear-gradient(to bottom, #26759E, #133D5B);
}

fieldset > p {
    margin-bottom: 1em;
}

form > fieldset > div.radio > label  {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

form > fieldset > div.radio > label > input  {
    margin-right: 0.5em;
}

form > fieldset > div.deepAi {
    display: grid;
    grid-template-areas:
        'deepAi1 deepAi2 deepAiLastInput deepAiLastLabel'
        'deepAi3 deepAi4 deepAiLastInput deepAiLastLabel'
        'deepAi5 deepAi6 deepAiLastInput deepAiLastLabel';
    justify-items: start;
    justify-content: start;
    grid-column-gap: 0.7em;
    margin: 0.5em;
}
form > fieldset > div.deepAi > input:first-child {
    grid-area: deepAi1;
}
form > fieldset > div.deepAi > label:first-of-type {
    grid-area: deepAi2;
}
form > fieldset > div.deepAi > input:nth-child(3) {
    grid-area: deepAi3;
}
form > fieldset > div.deepAi > label:nth-of-type(2) {
    grid-area: deepAi4;
}
form > fieldset > div.deepAi > input:nth-child(5) {
    grid-area: deepAi5;
}
form > fieldset > div.deepAi > label:nth-of-type(3) {
    grid-area: deepAi6;
}
form > fieldset > div.deepAi > input:last-of-type {
    grid-area: deepAiLastInput;
    justify-self: center;
    align-self: center;
    width: 2em;
    margin-left: 2em;
}
form > fieldset > div.deepAi > label:last-child {
    grid-area: deepAiLastLabel;
    justify-self: center;
    align-self: center;
}

form > fieldset > div.radio-input input[type="number"]{
    width: 2em;
}

form > fieldset > div.radio-input input[type="number"]{
    background-color: rgba(0,128,128,1);
    color: black;
}

button {
    /* border-radius: 23px; */
    box-shadow: #878787 0px 2px 2px;
    border:1px solid #7eb9d0;
    padding: 1em 4em;
    margin: 2em 0em 0em 0em;
    background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
    display: inline-block
}

button:hover {
    border:1px solid #5d7fbc;
    background-image: linear-gradient(to bottom, #819bcb, #536f9d);
}
